<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{@site.title}}</h1>
      <p class="lead">{{@site.description}}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
        <a href="/">Home</a> |
        <a href="/about">About</a> |
		    <a href="https://twitter.com/y_akopov">Twitter</a>
      </li>
    </ul>

	<div class="sidebar-license">
		<a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">
			<img alt="Creative Commons License" style="border-width:0" title="Creative Commons License" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" />
		</a>	
	</div>
  </div>
</div>
