<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {{> head}}

  <body>

    {{> sidebar}}

    <div class="content container">
      {{{body}}}
    </div>

  {{ghost_foot}}
  </body>
</html>
