{{!< default}}

{{#post}}
<div class="post">
  <h1 class="post-title">{{{title}}}</h1>
	<div class="article-details">
		<span class="icon-clock"> </span> <time class="date hint" datetime="{{date format='dddd DD MMM YYYY'}}" itemprop="datePublished" title="{{date format='DD MMM YYYY'}}">{{date timeago="true"}}</time>
		{{#if tags}}<span class="icon-tag"> </span>{{tags separator=", "}}{{/if}}
	</div>
  
  {{content}}
</div>

<footer class="post-footer clearfix">
	<div class="share-post">
		<a class="icon-twitter share-link" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
				   
		<a class="icon-facebook share-link" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
	</div>
</footer>
{{/post}}

<!-- Disqus comments block starts -->
<div id="disqus_thread"></div>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'yakopovme'; // required: replace example with your forum shortname

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<!-- Disqus comments block ends -->		
